body{
    font-family: 'Karla', sans-serif;
    /* background-color: rgb(48, 27, 27); */

    overflow-x: hidden;
}

.flex{
    display: flex;
    gap: 1rem;
}

.sr-only{
    display: none;
}

.hidden{
    display: none;
}

/* HEADER */

.mobile-nav-toggle{
    display: none;
}

.logo{
    font-family: 'Rampart One', cursive;
    color: white;
    margin: 2rem 2rem 0 2rem;
}

.bi-list{
    margin-top: 1.2rem;
}

.primary-header{
    background-color: rgb(19, 18, 18);
    font-size: 1.25rem;
}

.inner-container{
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

h4{
    color: #b4c8e6;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 2rem;
    margin-left: 2.8rem;
}

/* MAIN CONTENT */
main h2{
    width: 25rem;
    text-align: center;
    margin: 3rem auto 0 auto;
    color: rgb(0, 0, 0);
}

/* PODUCT CARDS */
a
{
    text-decoration: none;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0px;
    background: #ffffff;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #658ac2;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #658ac2;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
    .primary-navigation{
        gap: 3rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 60%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(0.25rem);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        color: white;
        top: 2rem;
        right: 2rem;
    }
}

@media (min-width: 700px){
    .primary-navigation{
        margin-right: 2rem;
        gap: 4rem;
    }
}

@media (min-width: 1200px){
    .inner-container{
       width: 70vw;
       margin: 0 auto;
    }

    .primary-navigation{
        gap: 4rem;
    }

}

.primary-navigation a{
    text-decoration: none;
    color: white;
}